<h2>Results of converting "<%= filename %>"</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Markdown</h3>
    <div class="md-preview">
      <pre id="markdown"><%= html_escape md %></pre>
    </div>
  </div>
  <div class="col-md-6">
    <h3>Rendered</h3>
    <div class="rendered-preview">
      <%= html %>
    </div>
  </div>
</div>

<div class="moar">
  <button id="copy-button" class="btn" data-clipboard-target="markdown">Copy to clipboard</button>
  <p>Want to <a href="/">convert another document</a>?</p>
</div>

<script src="vendor/zeroclipboard/dist/ZeroClipboard.min.js"></script>
<script>var client = new ZeroClipboard(document.getElementById("copy-button"));</script>
