<h2>Converting a Word Document is as easy as 1, 2, 3...</h2>

<% unless error.nil? %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
<% end %>

<div class="row mt-3">
  <div class="col">
    <h3>Step 1</h3>
    <h4>Upload a <code>.docx</code> or <code>.doc</code> file</h4>
    <p class="text-muted">Drag-and-drop the file below to upload</p>
  </div>
  <div class="col">
    <h3>Step 2</h3>
    <h4>Get back crisp, clean Markdown</h4>
    <pre class="bg-light border p-2 mt-3 text-left"><code># H1

Paragraph

## H2

Paragraph

### H3

Paragraph
</code></pre>
  </div>

  <div class="col">
    <h3>Step 3</h3>
    <h4>???</h4>
  </div>

</div>

<form method="POST" enctype="multipart/form-data">
  <input type="file" class="form-control-file p-2 border" name="doc" id="doc">
  <input type="submit" class="btn btn-primary btn-lg mt-3" value="Convert" id="submit">
</form>
