<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/assets/style.css" rel="stylesheet">

    <title>Word to Markdown Converter</title>

    <script async src="/assets/app.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138726319-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138726319-1');
    </script>
  </head>
  <body>
    <div class="container text-center mt-2">

      <h1>Word to Markdown Converter</h1>

      <%= yield %>

      <nav class="nav justify-content-center mt-2">
        <a href="https://ben.balter.com" class="nav-link">@benbalter</a>
        <a href="https://github.com/benbalter/word-to-markdown" class="nav-link">Source</a>
        <a href="https://github.com/benbalter/word-to-markdown/blob/master/CONTRIBUTING.md" class="nav-link">Feedback</a>
      </nav>
    </div>
  </body>
</html>
